
{{> header}}

    <main class="site-main">
<div class="ctn_projects">
    <div class="file">
        {{#each userWeb}}
        <div class="projects_desc">
            <h1>{{nombreProject}}</h1>
            <p>
                {{descProject}}
                Fue Creado el: {{fecha}}
                <br>
                <a class="viewProject" target="_blank" href="{{link}}">Ver El Proyecto...</a>
            </p>
        </div>

        <div class="projects_languages">
            <div class="projects_img">
                    <img src="{{imgComplete}}" alt="My project">
                <div class="zoom_icon">
                    <a class="venobox" data-gall="images" href="{{imgComplete}}">
                        <i class="fas fa-search-plus fa-4x"></i>
                    </a>
                </div>
            </div>
            <div class="languages">
                <div class="scroll">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="{{technologies}} fa-2x"></i> {{icons}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{> footer}}